.BbList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.BbList .movie {
    position: relative;
    margin-bottom: 1.5rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.BbList .movie img {
    width: 320px;
    height: 450px;
}